# Ignore virtual environment
venv/
env/

# Ignore python compiled files
__pycache__/
*.pyc

# Ignore large datasets
chest_xray/
static/uploads/*
!static/uploads/.gitkeep

# Environment variables
.env
.DS_Store
